venv
instance
.vscode
public
.editorconfig
.npmrc
app.scss
.app/node_modules
.app/venv

node_modules/
.app/venv/
app/index.html
app/jsconfig.json
app/package-lock.json
app/postcss.config.cjs
app/src/css/quasar.variables.scss
app/src/stores/store-flag.d.ts
app/src/assets/quasar-logo-vertical.svg
app/tailwind.config.js
app/.eslintignore
app/.eslintrc.cjs
app/package.json
app/postcss.config.js
# app/quasar.config.js
app/.gitignore
app/src/boot/.gitkeep
